@import "bootstrap"
@import "font-awesome"

$highlightColor: #FD0066
$lightDarkColor: #CCC
$iconColor: #777
$lightTextColor: #FFF
$mediumDarkColor: #666

$fontSize: 1em
$headerFontSize: 2em

$cellHeight: 225px
$heavyWeight: 700

$boxShadow: 1px 1px 10px 1px #CCC

$mediumWidth: 380px

$darkGradient1: #484e55
$darkGradient2: #3a3f44
$darkGradient3: #313539

$lightGradient1: #8a9196
$lightGradient2: #7a8288
$lightGradient3: #70787d

@mixin bg-gradient($step1, $step2, $step3)
  border-color: $step2
  background: -webkit-linear-gradient($step1, $step2 60%, $step3)
  background: -o-linear-gradient($step1, $step2 60%, $step3)
  background: -moz-linear-gradient($step1, $step2 60%, $step3)
  background: linear-gradient($step1, $step2 60%, $step3)

@mixin transition
  transition: all .5s
  -ms-transition: all .5s 
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s

body
  font-family: 'Raleway', sans-serif;
  margin-top: 30px
  letter-spacing: 1px
  @media only screen and (min-width: 768px)
    margin-top: 50px
    margin-bottom: 50px

a
  text-decoration: none
  outline: 0
  color: $highlightColor
  &:hover
    text-decoration: none
    outline: 0
    color: $mediumDarkColor

header
  font-size: $headerFontSize
  margin-bottom: 50px
  @media only screen and (min-width: 768px)
    margin-bottom: 100px

#main-header
  color: $mediumDarkColor
  outline: 0
  text-decoration: none
  @include transition
  &:hover
    color: $highlightColor
    @include transition

img
  margin-top: 40px

.right
  text-align: right

.left
  margin-left: 0
  margin-right: auto
  text-align: left

.center
  margin-left: auto
  margin-right: auto
  text-align: center

.no-border
  border: none

// -------------------------------------------------------------------
// Filter
// -------------------------------------------------------------------

.filter-container
  position: absolute
  .active
    color: $highlightColor
  span
    font-size: 0.9em
    color: $lightDarkColor
    margin-right: 10px

  a
    color: $lightDarkColor
    margin-right: 10px
    text-decoration: none
    &:hover
      color: $mediumDarkColor
  margin: -30px 0 12px -5px
  @media only screen and (min-width: 768px)
    margin: -30px 0 12px -15px

.filter-bar
  display: inline
  opacity: 1
  @include transition

.filter-bar-hidden
  opacity: 0
  @include transition
  visibility: hidden

// -------------------------------------------------------------------
// CELLS
// -------------------------------------------------------------------

.cell
  height: $cellHeight
  // opacity: 0
  padding: 20px
  cursor: pointer
  border: 1px solid white
  // margin: 3px
  @include transition
  &:hover
    background-color: $darkGradient3 !important
    @include transition
  &:hover > .cell-name
    color: $highlightColor !important
    @include transition
  &:hover > .cell-icons
    opacity: 1 !important
    color: $iconColor
    @include transition
  &:hover > .cell-description
    opacity: 1 !important
    @include transition

.cell-name
  opacity: 1

.cell-icons
  opacity: 0
  @include transition

.cell-description
  opacity: 0
  margin-top: 15px
  color: $lightDarkColor
  @include transition

.cell-icon
  margin: 5px 0 0 5px

// -------------------------------------------------------------------
// PROJECTS
// -------------------------------------------------------------------


#project-title
  font-size: 1.5em
  color: $highlightColor

#project-date
  color: $lightDarkColor
  margin-bottom: 40px

.sc-bandcamp-player
  border: 0
  width: 80%
  height: 120px
  margin-top: 40px

#project-description
  text-align: justify
  margin-bottom: 25px

.project-video
  margin-bottom: 25px


// -------------------------------------------------------------------
// MODAL STUFF
// -------------------------------------------------------------------

.modal-dialog
  width: 100%
  margin-left: auto
  margin-right: auto
  margin-top: 0
  @media only screen and (min-width: 768px)
    width: 60%
  @media only screen and (min-width: 1281px)
    width: 800px

.modal-content
  margin-bottom: 50px
  margin-top: 0
  @media only screen and (min-width: 768px)
    margin-top: 25px  

.modal.fade .modal-dialog
  -webkit-transform: translate(0,0)
  -moz-transform: translate(0,0)
  -o-transform: translate(0,0)
  -ms-transform: translate(0,0)
  transform: translate(0,0)

.modal-link, &:visited
  color: $highlightColor
  &:hover
    color: $mediumDarkColor

.modal-header
  @include bg-gradient($darkGradient1, $darkGradient2, $darkGradient3)
  border-bottom: 2px solid $mediumDarkColor

// -------------------------------------------------------------------
// ABOOT MODAL
// -------------------------------------------------------------------

#aboot
  position: absolute
  top: 10;
  right: 25px;
  font-size: 0.7em;
  &>a
    color: $lightDarkColor
    outline: 0
    text-decoration: none
    font-size:  1.5em
    &>span
      opacity: 0
      visibility: hidden
      @include transition
    &:hover
      &>span
        opacity: 1
        visibility: visible
        @include transition

  

.aboot-icons
  color: $highlightColor
  margin: 5px 0 10px 0
  i
    margin: 0 5px 0 5px

.sc-profile-img
  width: 100px
  height: 100px
  border-radius: 50px
  -webkit-border-radius: 50px
  -moz-border-radius: 50px
  -o-border-radius: 50px
  background: url(/img/about/profile.jpg) no-repeat
  margin: 0 25px 20px 25px
  box-shadow: $boxShadow
  float: left

.sc-aboot-modal
  width: 100%
  @media only screen and (min-width: 768px)
    width: 50%

.sc-canada
  margin-top: 40px
  font-weight: bold

.sc-aboot-description
  margin: 40px 25px 0 25px
  text-align: justify
  color: $mediumDarkColor

.sc-aboot-social
  font-size: 2em
  margin-bottom: 20px

.sc-aboot-title
  font-size: 2em
  color: $lightDarkColor

