@import "bootstrap"
@import "font-awesome"

$highlightColor: #FD0066
$lightDarkColor: #CCC
$iconColor: #777
$lightTextColor: #FFF
$mediumDarkColor: #666

$fontSize: 1em
$headerFontSize: 1.5em

$cellHeight: 200px
$heavyWeight: 700

$boxShadow: 3px 3px 10px 3px #CCC
$videoMargin: 50px 20px 20px 20px

$mediumWidth: 380px

// Gradients
$darkGradient1: #484e55
$darkGradient2: #3a3f44
$darkGradient3: #313539

$lightGradient1: #8a9196
$lightGradient2: #7a8288
$lightGradient3: #70787d

@mixin bg-gradient($step1, $step2, $step3)
  border-color: $step2
  background: -webkit-linear-gradient($step1, $step2 60%, $step3)
  background: -o-linear-gradient($step1, $step2 60%, $step3)
  background: -moz-linear-gradient($step1, $step2 60%, $step3)
  background: linear-gradient($step1, $step2 60%, $step3)

body
  font-family: Verdana,Geneva,sans-serif
  margin-top: 30px
  @media only screen and (min-width: 768px)
    margin-top: 100px
    margin-bottom: 50px

a
  text-decoration: none
  outline: 0
  color: $highlightColor
  &:hover
    text-decoration: none
    outline: 0
    color: $mediumDarkColor

header
  padding: 10px 0 10px 50px
  width: 100%
  color: $highlightColor
  @include bg-gradient($darkGradient1, $darkGradient2, $darkGradient3)
  font-size: $headerFontSize
  position: fixed
  top: 0
  left: 0
  z-index: 999
  div
    display: inline

img
  width: 90%
  box-shadow: $boxShadow 
  margin-top: 40px
  border: 10px solid #FFF
  &:first-child
    margin-top: 0

.aboot
  right: 30px
  position: absolute
  font-size: 0.7em
  margin-top: 3px
  a
    color: $mediumDarkColor
    outline: 0
    text-decoration: none
    &:hover
      color: $highlightColor

.right
  margin-right: 0
  margin-left: auto
  text-align: right

.center
  margin-left: auto
  margin-right: auto
  text-align: center

.cell
  height: $cellHeight
  background-position: center
  background-repeat: no-repeat

.cell-link
  text-decoration: none

.inner-cell
  height: $cellHeight
  font-size: $fontSize
  padding-right: 20px
  padding-top: 20px
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s
  line-height: .8
  text-decoration: none

.inner-cell:hover
  opacity: 0
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s

.back-cell
  position: absolute
  text-align: right
  padding: 16px 20px 0 0
  width: 100%
  top: 0
  z-index: -1
  color: $highlightColor
  @include bg-gradient($darkGradient1, $darkGradient2, $darkGradient3)
  height: $cellHeight

.back-description
  margin: 20px 0 20px 20px
  color: $lightDarkColor

.cell-icon
  margin: 5px 0 0 5px
  color: $iconColor

.col-md-4
  padding-left: 0
  padding-right: 0

.btn-default
  @include bg-gradient($darkGradient1, $darkGradient2, $darkGradient3)
  color: $lightTextColor
  &:hover
    color: $highlightColor
    border: 1px solid transparent

.modal-dialog
  width: 100%
  margin-left: auto
  margin-right: auto
  margin-top: 0
  @media only screen and (min-width: 768px)
    width: 60%
  @media only screen and (min-width: 1281px)
    width: 1024px

.modal-content
  margin-bottom: 50px
  margin-top: 0
  @media only screen and (min-width: 768px)
    margin-top: 25px  

.modal.fade .modal-dialog
  -webkit-transform: translate(0,0)
  -moz-transform: translate(0,0)
  -o-transform: translate(0,0)
  -ms-transform: translate(0,0)
  transform: translate(0,0)

.modal-link, &:visited
  color: $highlightColor
  &:hover
    color: $mediumDarkColor

.modal-title
  color: $highlightColor
  text-align: left
  margin-left: 20px

.modal-header
  @include bg-gradient($darkGradient1, $darkGradient2, $darkGradient3)
  border-bottom: 2px solid $mediumDarkColor

.modal-footer
  @include bg-gradient($lightGradient1, $lightGradient2, $lightGradient3)
  border-top: 1px solid $lightGradient3
  padding-top: 7px
  padding-bottom: 7px
  margin-top: 20px

.modal-body
  .well
    width: 90%
    text-align: justify
    margin-top: 20px
    margin-bottom: 40px

.modal-description
  text-align: justify

.modal-date
  color: $mediumDarkColor
  margin-left: 20px

.embed-responsive
  width: 90%

.sc-medium-img
  width: 80%
  @media only screen and (min-width: 768px)
    width: $mediumWidth

.sc-bandcamp-player
  border: 0
  width: 80%
  height: 120px
  margin-bottom: 40px

.table-responsive
  border: none
  // margin: 20px 40px 0 40px
  .table>tbody>tr>td
    border: none
    font-size: 0.8em
    white-space: normal
  .table>tbody>tr>td:first-child
    font-weight: bold
    color: $mediumDarkColor

// -------------------------------------------------------------------
// ABOOT
// -------------------------------------------------------------------

.aboot-icons
  color: $highlightColor
  margin: 5px 0 10px 0
  i
    margin: 0 5px 0 5px

.sc-profile-img
  width: 100px
  height: 100px
  border-radius: 50px
  -webkit-border-radius: 50px
  -moz-border-radius: 50px
  -o-border-radius: 50px
  background: url(/img/about/profile.jpg) no-repeat
  margin: 0 25px 20px 25px
  box-shadow: $boxShadow
  float: left

.sc-aboot-modal
  width: 100%
  @media only screen and (min-width: 768px)
    width: 50%

.sc-canada
  margin-top: 40px
  font-weight: bold

.sc-aboot-description
  margin: 40px 25px 0 25px
  text-align: justify
  color: $mediumDarkColor

.sc-aboot-social
  font-size: 2em
  margin-bottom: 20px

.sc-aboot-title
  font-size: 2em
  color: $lightDarkColor

