/*html *
{
   font-size: 1em;
   color: #000;
   font-family: Arial, Helvetica, sans-serif !important;
}*/

header {
	display: block;
	margin-top: 0;
	margin-bottom: 50px;
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #FF3399;
    background-color: #CCC;
}

a:hover {
    text-decoration: none;
}

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Verdana, Geneva, sans-serif;
}

.right {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cell {
	height: 200px;
    background-position: center;
    background-repeat: no-repeat;
	/*padding: 10px;*/
}

.cell-link {
    text-decoration: none;
}

.inner-cell {
    height: 200px;
	/*height: 180px; Uncomment to add border*/
    font-size: 1em;
    padding-right: 20px;
    padding-top: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.inner-cell:hover {
    opacity: 0;
    font-size: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.sc-modal-body {
    width: 100%;
    height: 75%;
    overflow: scroll;
}